@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 200;
  font-size: small;

  background-color: #f4f5f9;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
