* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#65e4cc, #4a83e7);
}
.todo {
  background-color: white;
  border-radius: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
  margin: auto;
}
.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.user-input {
  width: 100%;
  display: flex;
}
.user-input input {
  padding: 20px;
  height: 50px;
  width: 90%;
}
.user-input button {
  padding: 2px;
  width: 10%;
}
.input-icon {
  height: 50px;
}
.li {
  padding: 20px;
}
button {
  border: 0;
  padding: 10px;
  background: none;
}
