* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background-color: #efefef;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator {
  width: 200px;
}
.calculator input {
  width: 95%;
  height: 30px;
  margin: 20px 0;
}
.numpad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.btn {
  height: 40px;
  width: 40px;
  background-color: #efefef;
}
